.goback{
	padding-top: 130px;
	padding-bottom: 10px;
	
	display: flex;
	align-items: center;
	white-space: nowrap;
	text-decoration: none;
	font-family: Aleygra;
	font-size: 200%;
	color: black;
}

.goback img{
	width: 50px;
	margin-left: 20px;
}

.goback p{
	margin: 0px;
	padding: 0px;
}

.margin{
	margin-top: 12px;
}

.gallerygrid{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.galleryimage{
	width: 100%;
}



@media screen and (max-width: 600px) {
	.gallerygrid{
		grid-template-columns: repeat(1, 1fr);
	}
}