body {animation: fadeInAnimation ease 3s}
@keyframes fadeInAnimation {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.home{
	padding-top: 140px;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
}

.quote{
	transition: .6s ease;
	white-space: pre-wrap;
	text-align: center;
	color: gray;
	margin: 0 0 0 20px;
}

.quoteandauthor{
	font-size: 170%;
	transition: .6s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

.author{
	color: #64c4bc;
	margin: 0 0 0 0;
}

.galleryscroll{
	position: relative;
	top: -118px;
}

.gallery{
	background-color: rgb(235, 235, 235);
}

.gallerytitle{
	text-align: center;
	color: gray;
	font-size: 300%;
	margin: 0px;
	padding-top: 10px;
}

.container{
  position: relative;
	border-radius: 10px;
  width: 22%;
	margin:1vw;
	overflow:hidden;
	margin-top: 10px;
	box-shadow: 5px 5px 10px gray;
	margin-bottom: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
	transition: .5s ease;
	transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, .75);
}

.container:hover .overlay {
	opacity: 1;
	height: 25%;
}

.container:hover .image{
	transform: scale(1.25);
}

.text{
	transition: .6s ease;
  color: gray;
	font-family: Amsterdam;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	white-space: nowrap;
}

.oneyear{
	transition: .6s ease;
  color: gray;
	font-family: Amsterdam;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	white-space: nowrap;
}

.categories{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


.container:hover .text{
	font-size: 200%;
}

.container:hover .oneyear{
	font-size: 105%;
}

.about{
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: row;
	margin-left:20px;
}

.aboutscroll{
	position: relative;
	top:-120px;
}

.about img{
	width: 300px;
	height: auto;
}

.about p{
	color: gray;
	font-size: 120%;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 20px;
}

.sessions p{
	font-size: 120%;
	text-align: center;
}

.contactscroll{
	position: relative;
	top:-118px;
}

.footer{
	width: 100%;
	height: 50px;
	background-color: rgb(235, 235, 235);
}

@media (hover: none) {
	.container .text{
		font-size: 80%;
	}

	.oneyear{
		font-size: 59%;
	}

	.container:hover .text{
		font-size: 80%;
	}
	.container:hover .oneyear{
		font-size: 59%;
	}
	.overlay {
		opacity: 1;
		height: 25%;
	}
}


@media screen and (max-width: 1900px) {
	.container:hover .text{
		font-size: 150%;
	}
}

@media screen and (max-width: 1500px) {
	.container:hover .text{
		font-size: 120%;
	}
	.container:hover .oneyear{
		font-size: 88%;
	}
	
}

@media screen and (max-width: 1200px) {
	.container:hover .text{
		font-size: 85%;
	}
	.container:hover .oneyear{
		font-size: 60%;
	}
}

@media screen and (max-width: 1200px){
	.about{
		flex-direction: column;
		align-items: center;
	}
	.about p{
		padding-left: 100px;
	}
}


@media screen and (max-width: 800px) {
	.categories{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.stuff{
		display: flex;
	}

	.aboutscroll{
		top:-118px;
	}

	.gallery{
		padding-bottom: 15px;
	}


	.container:hover .text{
		font-size: 240%;
	}

	.container:hover .oneyear{
		font-size: 174%;
	}

	.container{
		width: 80%;
		margin-top: 20px;
	}

	.home{
		flex-direction: column;
		align-items:center;
		justify-content: center;
		padding: 130px 0px 20px 0px;
	}

	.about p{
		padding-left: 20px;
		padding-right: 20px;
	}

	.container .text{
		font-size: 120%;
	}

	.oneyear{
		font-size: 90%;
	}

}

@media(max-width: 102rem){
	.quoteandauthor{
		font-size: 110%;
		margin-top: 10px;
	}
}